DirectoryIndex index.html

<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Hide .html extension
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}\.html -f
    RewriteRule ^(.*)$ $1.html [NC,L]
</IfModule>

# Prevent directory listing just in case
Options -Indexes
